<!DOCTYPE html>
<html lang="en">

<%- include ( 'partials/partialHead' ) %>

    <body>
        <%- include ( 'partials/partialHeader' ) %>
            <main>
                <div id="content">
                    <article class="card">
                        <center>
                            <h2>Game</h2>
                        </center>
                        <table border="1" class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Genre</th>
                                    <th>Developer</th>
                                    <th>Amount Sold</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%games.forEach(e=> {%>
                                    <tr>
                                        <td>
                                            <%=e.name%>
                                        </td>
                                        <td>
                                            <%=getRupiah(e.checkPrice())%>
                                        </td>
                                        <td>
                                            <%=e.genre%>
                                        </td>
                                        <td>
                                            <% let names=e.Developers.map(el=> el.name) %>
                                                <%= names%>
                                        </td>
                                        <td>
                                            <%=e.amountSold%>
                                        </td>
                                        <td>
                                            <a href="/games/<%= e.id%>/add_developer" class="btn btn-primary">Add
                                                Developer</a>
                                            <a href="/games/<%= e.id%>/delete" class="btn btn-primary">Delete</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <a href="/games/add" class="btn btn-primary" style="font-size: 30px">Add Game</a>
                    </article>
                </div>
            </main>
            <%- include ( 'partials/partialFooter' , {quote} ) %>
    </body>

</html>